<div id="chico" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Chico" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-chico-small@2x.png', class: '', alt: t(:'illustrations.team.chico') %>
    </figure>
    <h3><%= t(:'about-us.team.chico.title') %></h3>
    <p><%= t(:'about-us.team.chico.role') %></p>
    <p><%= t(:'about-us.team.chico.text') %></p>
    <p><%= t(:'about-us.team.chico.background') %></p>
    <% link_to 'https://www.linkedin.com/in/chico-carvalho-a8352326', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
        <%= t('social.linkedin') %>
      <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="daniel" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Daniel" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-daniel-small@2x.png', class: '', alt: t(:'illustrations.team.daniel') %>
    </figure>
    <h3><%= t(:'about-us.team.daniel.title') %></h3>
    <p><%= t(:'about-us.team.daniel.role') %></p>
    <p><%= t(:'about-us.team.daniel.text') %></p>
    <p><%= t(:'about-us.team.daniel.background') %></p>
    <% link_to 'https://twitter.com/danzanzini', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <% link_to 'https://linkedin.com/in/danzanzini', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="filipe" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Filipe" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-filipe-small@2x.png', class: '', alt: t(:'illustrations.team.filipe') %>
    </figure>
    <h3><%= t(:'about-us.team.filipe.title') %></h3>
    <p><%= t(:'about-us.team.filipe.role') %></p>
    <p><%= t(:'about-us.team.filipe.text') %></p>
    <p><%= t(:'about-us.team.filipe.background') %></p>
    <% link_to '', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="guilherme" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Guilherme" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-guilherme-small@2x.png', class: '', alt: t(:'illustrations.team.guilherme') %>
    </figure>
    <h3><%= t(:'about-us.team.guilherme.title') %></h3>
    <p><%= t(:'about-us.team.guilherme.role') %></p>
    <p><%= t(:'about-us.team.guilherme.text') %></p>
    <p><%= t(:'about-us.team.guilherme.background') %></p>
    <% link_to 'https://twitter.com/guieevc', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="juliana" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Juliana" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-juliana-small@2x.png', class: '', alt: t(:'illustrations.team.juliana') %>
    </figure>
    <h3><%= t(:'about-us.team.juliana.title') %></h3>
    <p><%= t(:'about-us.team.juliana.role') %></p>
    <p><%= t(:'about-us.team.juliana.text') %></p>
    <p><%= t(:'about-us.team.juliana.background') %></p>
    <% link_to 'https://www.linkedin.com/in/juligcarvalho', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="lailson" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Lailson" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-lailson-small@2x.png', class: '', alt: t(:'illustrations.team.lailson') %>
    </figure>
    <h3><%= t(:'about-us.team.lailson.title') %></h3>
    <p><%= t(:'about-us.team.lailson.role') %></p>
    <p><%= t(:'about-us.team.lailson.text') %></p>
    <p><%= t(:'about-us.team.lailson.background') %></p>
    <% link_to 'https://twitter.com/lailsonbm', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <% link_to 'https://www.linkedin.com/in/lailsonbm', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="leo" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Leonardo" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-leo-small@2x.png', class: '', alt: t(:'illustrations.team.leonardo') %>
    </figure>
    <h3><%= t(:'about-us.team.leo.title') %></h3>
    <p><%= t(:'about-us.team.leo.role') %></p>
    <p><%= t(:'about-us.team.leo.text') %></p>
    <p><%= t(:'about-us.team.leo.background') %></p>
    <% link_to 'https://linkedin.com/in/leonardo-brito-b85b8123', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="lucas" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Lucas" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-lucas-small@2x.png', class: '', alt: t(:'illustrations.team.lucas') %>
    </figure>
    <h3><%= t(:'about-us.team.lucas.title') %></h3>
    <p><%= t(:'about-us.team.lucas.role') %></p>
    <p><%= t(:'about-us.team.lucas.text') %></p>
    <p><%= t(:'about-us.team.lucas.background') %></p>
    <% link_to 'https://twitter.com/lmarinho', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <% link_to 'https://www.linkedin.com/in/lucaspmarinho', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="renatinha" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Renata" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-renatinha-small@2x.png', class: '', alt: t(:'illustrations.team.renatinha') %>
    </figure>
    <h3><%= t(:'about-us.team.renatinha.title') %></h3>
    <p><%= t(:'about-us.team.renatinha.role') %></p>
    <p><%= t(:'about-us.team.renatinha.text') %></p>
    <p><%= t(:'about-us.team.renatinha.background') %></p>
    <% link_to 'https://www.linkedin.com/in/renatamottam', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="ronney" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Renata" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-ronney-small@2x.png', class: '', alt: t(:'illustrations.team.ronney') %>
    </figure>
    <h3><%= t(:'about-us.team.ronney.title') %></h3>
    <p><%= t(:'about-us.team.ronney.role') %></p>
    <p><%= t(:'about-us.team.ronney.text') %></p>
    <p><%= t(:'about-us.team.ronney.background') %></p>
    <% link_to 'https://www.linkedin.com/in/renatamottam', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="sergio" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Sérgio" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
      <figure role="presentation">
        <%= image_tag 'illustration-team-sergio-small@2x.png', class: '', alt: t(:'illustrations.team.sergio') %>
      </figure>
      <h3><%= t(:'about-us.team.sergio.title') %></h3>
      <p><%= t(:'about-us.team.sergio.role') %></p>
      <p><%= t(:'about-us.team.sergio.text') %></p>
      <p><%= t(:'about-us.team.sergio.background') %></p>
      <% link_to 'https://twitter.com/osergiofontes', class: '', title: t(:'social.twitter'), target: 'blank' do %>
          <%= t('social.twitter') %>
        <% end %>
      <% link_to 'https://linkedin.com/in/osergiofontes', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
          <%= t('social.linkedin') %>
        <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>

<div id="tiago" class="modal is-backdrop" tabindex="-1" role="dialog" aria-labelledby="About Tiago" aria-hidden="true">
  <div class="modal is-wrapper" role="document">
    <figure role="presentation">
      <%= image_tag 'illustration-team-tiago-small@2x.png', class: '', alt: t(:'illustrations.team.tiago') %>
    </figure>
    <h3><%= t(:'about-us.team.tiago.title') %></h3>
    <p><%= t(:'about-us.team.tiago.role') %></p>
    <p><%= t(:'about-us.team.tiago.text') %></p>
    <p><%= t(:'about-us.team.tiago.background') %></p>
    <% link_to 'https://twitter.com/tiago__farias', class: '', title: t(:'social.twitter'), target: 'blank' do %>
      <%= t('social.twitter') %>
    <% end %>
    <% link_to 'https://linkedin.com/in/tiagofsilva', class: '', title: t(:'social.linkedin'), target: 'blank' do %>
      <%= t('social.linkedin') %>
    <% end %>
    <button data-dismiss="modal" title="<%= t('button.close') %>"></button>
  </div>
</div>
