<aside>
  <section class="sidenote of-user-stories" data-sidenote="user-stories">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.user-stories.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.user-stories.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-derp" data-sidenote="derp">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.derp.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.derp.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-product-owner" data-sidenote="product-owner">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.product-owner.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.product-owner.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-builders" data-sidenote="builders">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.builders.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.builders.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-stakeholders" data-sidenote="stakeholders">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.stakeholders.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.stakeholders.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-product-design" data-sidenote="product-design">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.product-design.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.product-design.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-pattern-library" data-sidenote="pattern-library">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.pattern-library.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.pattern-library.text') %></p>
      </div>
    </div>
  </section>

  <section class="sidenote of-key-performance" data-sidenote="key-performance">
    <div class="is-close-button" title="<%= t('buttons.close') %>">
      <%= inline_svg 'icon-close-or-add', class: 'icon of-close without-border' %>
    </div>
    <div class="grid is-container">
      <div class="grid is-column of-sidenote">
        <h5><%= t(:'sidenotes.process.key-performance.title') %></h5>
        <p class="type is-sidenote"><%= t(:'sidenotes.process.key-performance.text') %></p>
      </div>
    </div>
  </section>
</aside>
